In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('./docs/_annotations.csv')
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,000097_jpg.rf.c5517dee207753214ab5f1f847987bbb...,416,416,helmet,193,163,217,208
1,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,250,167,281,228
2,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,324,357,337,386
3,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,224,217,245,254
4,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,46,231,64,259

In [12]:
var = list(df.columns)
print(f"type {type(var)}, var : {var}")

type <class 'list'>, var : ['level_0', 'index', 'filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax']

In [15]:
#df = df.reset_index(True)
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,000097_jpg.rf.c5517dee207753214ab5f1f847987bbb...,416,416,helmet,193,163,217,208
1,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,250,167,281,228
2,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,324,357,337,386
3,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,224,217,245,254
4,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,46,231,64,259

In [38]:
uni_files = list(df.loc[:,"filename"].unique())
ns = df.loc[:,"filename"].nunique()

In [41]:
print(len(uni_files))
uni_files

10

array(['000097_jpg.rf.c5517dee207753214ab5f1f847987bbb.jpg',
       '000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526.jpg',
       '000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a.jpg',
       '000008_jpg.rf.d00174cb69229a352e8677a640ec2d86.jpg',
       '000054_jpg.rf.deb0214b76b3c6c5c7869c9b55ca063b.jpg',
       '000047_jpg.rf.c6b0a9e1a6642e985347e50d53680d39.jpg',
       '000084_jpg.rf.9762e56dc4a673cfcafee0a756ded9fe.jpg',
       '000098_jpg.rf.4c8c126e2003aa2b9d72b1bd00135fbf.jpg',
       '000034_jpg.rf.5a0ece0fc2b33f07f65618dc987b5d46.jpg',
       '000073_jpg.rf.16e5b2d347491eca4977cfa211aebdcc.jpg'], dtype=object)

In [24]:
print(uni_files.index)

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [30]:
new_ser_file = pd.Series(range(1,ns+1), index=uni_files)

In [31]:
df["file_id"] = df["filename"].map(new_ser_file)

In [32]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,file_id
0,000097_jpg.rf.c5517dee207753214ab5f1f847987bbb...,416,416,helmet,193,163,217,208,1
1,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,250,167,281,228,2
2,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,324,357,337,386,2
3,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,224,217,245,254,3
4,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,46,231,64,259,3

In [33]:
obj_id = pd.Series(range(1,df.shape[0]+1))

In [34]:
df["object_id"] = obj_id
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax,file_id,object_id
0,000097_jpg.rf.c5517dee207753214ab5f1f847987bbb...,416,416,helmet,193,163,217,208,1,1
1,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,250,167,281,228,2,2
2,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,324,357,337,386,2,3
3,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,224,217,245,254,3,4
4,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,46,231,64,259,3,5

In [35]:
df.rename(columns={"filename":"name"}, inplace=True)
df.head()

,name,width,height,class,xmin,ymin,xmax,ymax,file_id,object_id
0,000097_jpg.rf.c5517dee207753214ab5f1f847987bbb...,416,416,helmet,193,163,217,208,1,1
1,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,250,167,281,228,2,2
2,000076_jpg.rf.f4dcbf7b9ec8eabb374715182f20e526...,416,416,helmet,324,357,337,386,2,3
3,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,224,217,245,254,3,4
4,000011_jpg.rf.3c7aeaeb023a582910a26d213dbfa42a...,416,416,helmet,46,231,64,259,3,5